body {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-image: url('images/blue-background-colour.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* .common-class{
    @apply border border-black rounded m-2 p-2 w-full;
} */
